---
layout: default
title: FileFormat.Info Blog
redirect_from:
  - /about/index.html
---

<style>
.pin-title { }
.pin-description {  }
.pin-tag { display:none; }
</style>

<p>This is my blog for sharing things that I have learned while running <a href="http://www.fileformat.info/">FileFormat.Info</a>.</p>

<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">My Other Sites</div>
			<div class="panel-body">
				{% for website in site.data.websites %}
				<p><a href="https://{{website.hostname}}/" title="{{website.title}}">{{website.name}}</a></p>
				{% endfor %}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Cheatsheets</div>
			<div class="panel-body">
				{% assign sorted_pages = site.pages | sort:'sort' %}
				{% for page in sorted_pages %}{% if page.howto %}<p><a href="{{site.production_url}}{{ page.url }}">{{page.howto}}</a></p></tr>
				{% else %}{% endif %}{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">Recent Posts</div>
			<div class="panel-body">
			{% for page in site.posts %}{% if page.noindex %}{% else %}{% unless forloop.index > 5 %}
				<p>{{page.date | date: "%Y-%m-%d" }} - <a href="{{ page.url }}">{{page.title}}</a></p>
			{%endunless%}{% endif %}{% endfor %}
				<a class="btn btn-default btn-xs" href="/posts.html">More...</a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Recently Bookmarked</div>
			<div class="panel-body">
				<script language="javascript" src="http://pinboard.in//widgets/v1/linkroll/?user=fileformat&count=10&tag=tonews"></script>
			</div>
		</div>
	</div>
</div>
