---
layout: default
title: FileFormatNet Status Page
noindex: true
---
<script type="text/javascript">

	var sites = [
{% for website in site.data.websites %}{% if website.status_url %}
    { "id": "{{ website.id }}", "name":"{{ website.name }}", "url": "http://{{ website.hostname }}{{ website.status_url }}" },
{% endif %}{% endfor %}
		null
	];

	function makeErrorFn(site)
	{
		return function(xhr, msg, ex) {
			$("#status-" + site.id).empty().append($("<img>").attr("src", "http://static.regexplanet.com/images/16x16/cross-circle.png")).append($("<span>").text(" Down"));
		};
	}

	function makeSuccessFn(site, startTime)
	{
		return function(data)
		{
			var elapsed = new Date().getTime() - startTime;
			$("#status-" + site.id);
			if (data.success)
			{
				if (elapsed < 1000)
				{
					$("#status-" + site.id).empty().append($("<img>").attr("src", "http://static.regexplanet.com/images/16x16/tick.png")).append($("<span>").text(" Success"));
				}
				else
				{
					$("#status-" + site.id).empty().append($("<img>").attr("src", "http://static.regexplanet.com/images/16x16/exclamation-frame.png")).append($("<span>").text(" Slow"));
				}
			}
			else
			{
				$("#status-" + site.id).empty().append($("<img>").attr("src", "http://static.regexplanet.com/images/16x16/exclamation-red.png")).append($("<span>").text(" Running but problems"));
			}
			$("#time-" + site.id).text(elapsed);
		};
	}

	function checkStatus()
	{
		$(".updateable").empty();
		for (var loop = 0; loop < sites.length - 1; loop++)
		{
			$("#status-" + sites[loop].id).append($("<img>").attr("src", "http://static.regexplanet.com/images/16x16/spinner.gif"));
			$.ajax({
				dataType: "jsonp",
				error: makeErrorFn(sites[loop]),
				success: makeSuccessFn(sites[loop], new Date().getTime()),
				timeout: 10000,
				type: "POST",
				url: sites[loop].url
			});
		}
	}

	function buildTable()
	{
		for (var loop = 0; loop < sites.length - 1; loop++)
		{
			var row = $("<tr>");
			row.append($("<td>").text(sites[loop].name));
			row.append($("<td>").attr("id", "status-" + sites[loop].id).addClass("updateable"));
			row.append($("<td>").attr("id", "time-" + sites[loop].id).addClass("updateable"));
			row.append($("<td>").text(sites[loop]["detail"]));

			$("#status-table-body").append(row);
		}
	}

	$(document).ready(function()
		{
			setTimeout(buildTable, 500);
			setTimeout(checkStatus, 1000);
		});
</script>

<table class="table table-bordered table-striped" style="width:auto;">
	<thead>
		<tr>
			<th>Site</th>
			<th>Status</th>
			<th style="text-align:right">Time (ms)</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody id="status-table-body">
	</tbody>
</table>

<p><a class="btn btn-primary" href="javascript:checkStatus();">Refresh</a></p>
