---
layout: default
title : All Tags
noindex: true
---
<p>Count: {{ site.tags.size }}</p>
{% assign sortedTags = site.tags %}
<div class="panel-group" id="accordion">
{% for tag in sortedTags %}
	{% assign tagPages = tag | last %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ tag | first | slugize }}">
				{{ tag | first | slugize }}
				{{ tagPages.size }}
				</a>
			</h4>
		</div>
			<table id="collapse{{ tag | first | slugize }}" class="panel-collapse collapse table table-striped">
				<tbody>
			{% for thePage in tagPages %}{% if thePage.noindex %}{% else %}		<tr>
						<td>{{thePage.date | date: "%Y-%m-%d" }}</td>
						<td><a href="{{ thePage.url }}">{{thePage.title}}</a></td>
					</tr>
			{% endif %}{% endfor %}</tbody>
			</table>
	</div>
{% endfor %}
</div>
