<div class="container-fluid hidden-phone" style="
    background-color: #EFEFEF;
    margin: 0;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-top: 15px;
">
	<a href="http://www.fileformat.info/index.htm"><img src="http://www.fileformat.info/images/header/logo_wide.png" /></a>
</div>
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/" title="FileFormat.Info Blog"><img src="/images/fileformatinfo-icon.svg" style="height:30px;width:30px;margin-top:-5px;" /></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/index.html">Home</a></li>
				<li><a href="/posts.html">Posts</a></li>
				<li><a href="/tags.html">Tags</a></li>
				<li><a href="http://www.fileformat.info/">www</a></li>
			</ul>
			<form action="/search.html" class="navbar-form navbar-right" method="get">
				<div class="input-group">
					<input type="text" name="q" placeholder="Search" class="form-control">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</form>
		</div><!--/.navbar-collapse -->
	</div>
</nav>
